.page-navigation {
    text-align: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination a {
    display: block;
    padding: .2rem 2ch;
    text-decoration: none;
}
.pagination span {
    font-weight: 600;
    background-color: var(--default-input-background-color);
    box-shadow: var(--table-cell-box-shadow);
}
.pagination span.current {
    padding: .2rem 2ch;
    background-color: var(--highlight-background-color);
}
