.custom-fields__item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 300px;
}

.editor {
    padding: 1rem;
}

.sidebar {
    padding: 1rem;
}

.images-picker__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: grab;
}

.images-picker__item.dragging {
    opacity: 0.4;
}

.images-picker__handle {
    cursor: grab;
    user-select: none;
    color: var(--text-color);
}

#taxonomie-settings .ts-wrapper.multi .ts-control [data-value] {
    text-shadow: none;
    border-radius: 3px;
    border: none;
    color: var(--text-color);
    background: var(--button-background-color);
    box-shadow: none;
}
